<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars Planet </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>
                Mession to Mars
            </h1>
        </div>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Mars picture</a></p>
            <h4>
                Latest Mars News

            </h4>
            <p class="bold">
                {{ data_holder.news_title }}
            </p>
            <p>
                {{ data_holder.news_p }}
            </p>
            <div class="row">
                <div class="col-lg-8 col-sm-8">
                    <img src="{{ data_holder.feature_image_url }}" style="width:100%; height:auto;" alt="featuered img">
                </div>
                <br>
                <div class="col-lg-4 col-sm-4">
                    <table border="3" class="table">
                        <thead>
                            <tr style="text-align: left;">
                                <th></th>
                                <th>Mars</th>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>6,792 km</th>
                                <td>Equatorial Diameter</td>
                            </tr>
                            <tr>
                                <th>6,752 km</th>
                                <td>Polar Diameter</td>
                            </tr>
                            <tr>
                                <th>6.39 × 10^23 kg (0.11 Earths)</th>
                                <td>Mass</td>
                            </tr>
                            <tr>
                                <th>2 (Phobos &amp; Deimos)</th>
                                <td>Moons</td>
                            </tr>
                            <tr>
                                <th>227,943,824 km (1.38 AU)</th>
                                <td>Orbit Distance</td>
                            </tr>
                            <tr>
                                <th>687 days (1.9 years)</th>
                                <td>Orbit Period</td>
                            </tr>
                            <tr>
                                <th>-87 to -5 °C</th>
                                <td>Surface Temperature</td>
                            </tr>
                            <tr>
                                <th>2nd millennium BC</th>
                                <td>First Record</td>
                            </tr>
                            <tr>
                                <th>Egyptian astronomers</th>
                                <td>Recorded By</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6">

                </div>

            </div>
            </div>
        
    </div>
</body>

</html>